

/* 
Памятка:

1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное 
*/

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header, 
.main, 
.footer {
  width: 1200px;
  margin: 0 auto;
}

/* header */
.menu-list {
  list-style: none;
}

.menu-item a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.menu-item a:hover {
  color: #333333;

  background-color: #f7f6f3;
}

.menu-sub-list {
  background-color: #f8f7f4;

  list-style: none;
}

.menu-sub-item a {
  font-size: 14px;
  font-weight: normal;
  color: #323232;
  text-decoration: none;
  
}

.menu-sub-item a:hover {
  background-color: #fbded7;
}

.menu-sub-item a:active {
  background-color: #f6b5a5;
}

.menu-sub-item > a {
  font-weight: bold;
}

a.active {
  color: #ffffff;

  background-color: #d07058;
}

.header-button {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.header-button:hover {
  color: #323232;

  background-color: #ffffff;  
}

.not-empty {
  color: #323232;

  background-color: #ffffff;
}

.work-time {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.work-phone a {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

/* main */
.about-us {
  background-color: #ebddc0;
}

.about-us h1 {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}

.about-list {
  list-style: none;
}

.about-item {
  font-size: 16px;
  color: #323232;
}

.blog-news {
  background-color: #ffffff;
}

.blog-news h2 {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.news-paragraph a {
  font-size: 24px;
  font-weight: bold;
  color: #323232;
}

.subscribe-block {
  background-color: #f8f7f4;
}

.subscribe-block p {
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
}

.feedback h2 {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #323232;
}

.action-button {
  font-size: 18px;
  font-weight: bold;
  color: #fefefe;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.item-caption a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

/* footer */
.papers-list {
  list-style: none;
}

.papers-item a {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.designed-by {
  font-size: 12px;
  color: #fefefe;
}

.designed-by a {
  font-size: 12px;
  color: #fefefe;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}