

/* 
Памятка:

1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное 
*/

/* ---------- Вспомогательные элементы ---------- */

.header *,
main > * {
  /* outline: 1px solid blue; */
}

.catalog > * {
  /* outline: 1px solid red; */
}

/* -------------------------------------------------- */
/* ---------- Общие стили по всему проекту ---------- */
/* -------------------------------------------------- */

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  background-color: #849d8f;
}

.link {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link:hover,
.link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.link-black {
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.link-black:hover,
.link-black:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.input-field {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.input-field::placeholder {
  font-weight: normal;
  color: #999999;
}

.input-field:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header, 
.main, 
.footer {
  width: 1200px;
  margin: 0 auto;
}

a.active {
  color: #ffffff;

  border: 0;
  background-color: #d07058;
}

.link-button,
.action-button {
  display: inline-block;
  
  font-weight: 600;

  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.link-button:hover,
.action-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

.link-button:active,
.action-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* ------------------------------------- */
/* ---------- Стили заголовка ---------- */
/* ------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-top: 9px;
}

.header-top {
  display: flex;
  align-items: center;
}

.link-logo {
  line-height: 0;
}
.menu-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: 27px;

  list-style: none;
}

.menu-item a {
  display: block;
  padding: 0 14px;

  height: 32px;

  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  border-radius: 16px;
}

.menu-item a:hover {
  color: #333333;

  background-color: #f7f6f3;
}

.menu-link {
  line-height: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a.active .menu-link,
.menu-item a:hover .menu-link {
  border-bottom: 0;
}

.menu-sub-list {
  display: none;
  position: absolute;

  top: 51px;

  margin: 0;
  padding: 0;

  width: 143px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  list-style: none;
  overflow: hidden;
}

.menu-item a:hover + .menu-sub-list,
.menu-sub-list:hover {
  display: block;
}

.menu-sub-item a {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  color: #323232;
  text-decoration: none;
  border-radius: 0;
}

.menu-sub-item a:hover {
  background-color: #fbded7;
}

.menu-sub-item a:active {
  background-color: #f6b5a5;

  text-decoration: none;
}

.menu-sub-item:first-child a {
  font-weight: bold;
}

.menu-sub-item:first-child::after {
  display: block;
  content: "";

  margin-left: 6px;
  
  width: 128px;
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  position: absolute;
  right: 0;

  width: 262px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 8px;

  height: 33px;
  
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  border: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.header-button:hover {
  color: #323232;

  background-color: #ffffff;  
}

.search-button {
  width: 33px;

  background-image: url("../img/icons/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:hover {
  background-image: url("../img/icons/loupe-black.svg");
}

.search-block {
  display: none;
  position: absolute;
  top: 36px;
  right: 206px;

  padding: 20px 15px;

  width: 341px;
  height: 84px;

  
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  z-index: 1;
}

.search-block:hover,
.search-button:hover + .search-block {
  display: block;
}

.search-field {
  margin-bottom: 20px;
  padding-left: 14px;

  width: 311px;
  height: 44px;

  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
}

.auth-button {
  width: 93px;

  text-align: center;
}

.auth-button::before {
  display: inline-block;
  content: "";

  margin-right: 7px;

  width: 21px;
  height: 21px;

  color: #ffffff;
  background-image: url("../img/icons/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.auth-button:hover::before {
  background-image: url("../img/icons/entrance.svg");
}

.auth-block {
  display: none;
  position: absolute;
  top: 36px;
  right: 109px;
  

  padding-left: 19px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  
  width: 277px;
  height: 214px;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  overflow: hidden;

  z-index: 1;
}

.auth-email,
.auth-password {
  margin-bottom: 20px;
  padding-left: 14px;

  width: 241px;
  height: 44px;

  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;

}

.auth-block-button {
  float: left;

  width: 100px;
  height: 44px;

  border-radius: 22px;
}

.auth-block-link {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 20px;

  font-size: 13px;
  line-height: 24px;
}
.auth-block:hover,
.auth-button:hover + .auth-block {
  display: block;
}

.basket-button {
  width: 100px;
  
  text-align: center;
}

.basket-button::before {
  display: inline-block;
  content: "";

  margin-right: 8px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icons/basket.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.basket-button:hover::before {
  background-image: url("../img/icons/basket-black.svg");
}

.not-empty {
  width: 117px;

  color: #323232;

  background-color: #ffffff;
}

.not-empty:hover::before,
.not-empty::before {
  display: inline-block;
  content: "";

  margin-right: 8px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icons/basket-red.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.basket-block {
  display: none;
  
  position: absolute;
  top: 36px;
  
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 14px;
  
  width: 539px;
  height: 242px;
  
  text-align: right;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  
  z-index: 1;
}

.basket-block:hover,
.basket-button:hover + .basket-block {
  display: block;
}

.basket-block table {
  border-spacing: 0 10px;
  text-align: left;
}

.basket-block td {
    padding-right: 15px;
}

.basket-block tr td:nth-child(3) {
  width: 235px;
}

.basket-del {
  width: 11px;
  height: 11px;
  
  border: 0;
  background: none;
  
  background-image: url("../img/icons/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  cursor: pointer;
}

.basket-block tbody td {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-image {
  border-radius: 50%;
}

.basket-block .price {
  color: #999999;
}

.basket-block tfoot {
  font-weight: bold;
  
}

.basket-block th {
  padding-top: 17px;
  text-align: right;
  
  border-top: 1px solid #cacac7;
}

.basket-block-button {
  width: 170px;
  height: 44px;
  
  line-height: 44px;
  
  border-radius: 22px;
}

.work-info {
  position: absolute;
  bottom: -41px;
  right: 0;
}

.work-time {
  margin: 0;
  
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  
}

.work-phone {
  margin: 0;
}

.work-phone a {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

/* -------------------------------------------- */
/* ---------- Стили главной страницы ---------- */
/* -------------------------------------------- */

.slideshow {
  position: absolute;
  top: 0;

  z-index: -1;
}

.slide {
  width: 1200px;
  height: 859px;

  text-align: center;

  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  
}

.slide h3 {  
  position: relative;
  top: 397px;

  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  color: #ffffff;
}

.short-banners {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin: 647px 27px 0 27px;
}

.raspberry-banner,
.chocolate-banner {
  width: 560px;
  height: 229px;

  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}
.raspberry-banner {
  background-image: url("../img/raspberry.jpg");
}

.chocolate-banner {
  background-image: url("../img/chocolate-powder.jpg");
}

.goods-offer {
  margin: 0 27px;
  
  
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  
}

.catalog-position {
  margin: 0;

}

.catalog-item {
  position: relative;

  margin: 0;
  margin-top: 40px;
  
  width: 267px;
}

.hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/icons/hit.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.catalog-item img {
  border-radius: 50%;
}

.item-caption {
  text-align: center;
}

.item-price {
  position: absolute;
  top: 214px;
  left: 0;

  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  line-height: 1;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-price span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
}

.about-us {
  margin: 0 27px;
  margin-top: 41px;
  padding: 26px 20px;

  border-radius: 15px;
  background-color: #ebddc0;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
}

.about-us h1 {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.about-list {
  margin: 0;
  list-style: none;
}

.about-item {
  color: #323232;
}
.blocks {
  display: flex;
  justify-content: space-between;

  margin: 0 27px;
  margin-top: 40px;
}

.blog-news {
  width: 560px;

  border-radius: 15px;
  background-color: #ffffff;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-weight: 500;
  color: #323232;
}

.news-paragraph a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
}

.news-paragraph a:hover {
  color: #e84d37;
}

.subscribe-block {
  width: 560px;
  padding: 5px;

  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url(../img/post.svg);
  background-repeat: no-repeat;
}

.subscribe-content {
  border-radius: 15px;
  background-color: #f8f7f4;
  height: 100%;
}

.subscribe-block p {
  margin: 0;
  font-weight: normal;
  color: #5a5a5a;
}

.contacts {
  margin-top: 40px;

  width: 1200px;
  height: 430px
  ;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feedback-wrapper {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.feedback {
  position: relative;

  padding-top: 20px;
  padding-left: 24px;

  width: 478px;
  height: 443px;

  border-radius: 10px;
  background-color: #f8f7f4;

  z-index: 1;
}

.feedback h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.close-button {
  position: absolute;
  top: 17px;
  right: 17px;

  width: 18px;
  height: 18px;

  border: 0;
  background: none;
  background-image: url("../img/icons/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.feedback-text {
  margin-bottom: 20px;
  padding-left: 14px;

  width: 267px;
  height: 44px;

  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
}

.feedback-textarea {
  padding-left: 14px;

  width: 428px;
  height: 155px;

  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);

  resize: none;
}

.feedback-send {
  position: absolute;
  bottom: 27px;
  right: 25px;

  width: 139px;
  height: 44px;

  border-radius: 22px;
}
/* ------------------------------------ */
/* ---------- Стили каталога ---------- */
/* ------------------------------------ */


.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.paginator {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
  width: 190px;
}

.slide-button {
  padding: 12px 44px;

  font-size: 31px;
  line-height: 41px;

  border-radius: 50px;
}



.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
}

/* ----------------------------------- */
/* ---------- Стили подвала ---------- */
/* ----------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 27px;
  padding-top: 18px;
  padding-bottom: 26px;
}

.social-links a {
  display: inline-block;
  margin-right: 14px;

  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.social-links a:nth-child(1) {
  background-image: url("../img/icons/twitter.svg");
}
.social-links a:nth-child(2) {
  background-image: url("../img/icons/instagram.svg");
}
.social-links a:nth-child(3) {
  background-image: url("../img/icons/fb.svg");
}
.social-links a:nth-child(4) {
  background-image: url("../img/icons/vk.svg");
}

.papers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  width: 327px;
  list-style: none;
}

.papers-item {
  width: 50%;
}

.papers-item a {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}

.papers-item:first-child a {
  font-weight: bold;
}
.papers-item:first-child {
  margin-left: -22px;
}
.papers-item:first-child::before {
  content: "";
  display: inline-block;

  margin-right: 7px;
  width: 15px;
  height: 13px;

  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.designed-by {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.designed-by a {
  font-size: 12px;
  line-height: 16px;
}