

/* 
Памятка:

1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное 
*/

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  background-color: #849d8f;
}

.link {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link:hover,
.link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.link-black {
  color: #323232;
  text-decoration: none;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.link-black:hover,
.link-black:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.input-field {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.input-field::placeholder {
  font-weight: normal;
  color: #999999;
}

.input-field:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header, 
.main, 
.footer {
  width: 1200px;
  margin: 0 auto;
}

/* header */
.header * {
  outline: 1px solid blue;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-top {
  display: flex;
  
}

.menu-list {
  list-style: none;
}

.menu-item a {
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-item a:hover {
  color: #333333;

  background-color: #f7f6f3;
}

.menu-sub-list {
  background-color: #f8f7f4;

  list-style: none;
}

.menu-sub-item a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  
}

.menu-sub-item a:hover {
  background-color: #fbded7;
}

.menu-sub-item a:active {
  background-color: #f6b5a5;

  text-decoration: none;
}

.menu-sub-item > a {
  font-weight: bold;
}

a.active {
  color: #ffffff;

  border: 0;
  background-color: #d07058;
}

.header-button {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.header-button:hover {
  color: #323232;

  background-color: #ffffff;  
}

.not-empty {
  color: #323232;

  background-color: #ffffff;
}

.work-info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.work-time {
  margin: 0;
  
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  
}

.work-phone {
  margin: 0;
}

.work-phone a {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

/* main */
.about-us {
  background-color: #ebddc0;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
}

.about-us h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.about-list {
  list-style: none;
}

.about-item {
  color: #323232;
}

.blog-news {
  background-color: #ffffff;
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-weight: 500;
  color: #323232;
}

.news-paragraph a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
}

.news-paragraph a:hover {
  color: #e84d37;
}

.subscribe-block {
  padding: 6px 5px 5px 4px;

  background-color: #f8f7f4;
  background-image: url(../img/post.svg);
  background-repeat: no-repeat;
}

.subscribe-content {
  background-color: #f8f7f4;
}

.subscribe-block p {
  font-weight: normal;
  color: #5a5a5a;
}

.feedback h2 {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}

.action-button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fefefe;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
  
  border: 0;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.action-button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.action-button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.item-caption a {
  font-weight: 500;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  line-height: 1;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-price span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
}
/* footer */
.papers-list {
  list-style: none;
}

.papers-item a {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;

}

.designed-by {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.designed-by a {
  font-size: 12px;
  line-height: 16px;
}